@import url('panchang.css');
@import url('cabinet-grotesk.css');

body{
  background-color: #f5f2ed;
  color: #231f21;
  font-family: Arial;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  all: unset;
  display: inline;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1{
  font-family: CabinetGrotesk-Extrabold;
}

.name{
  margin-left: -120px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  animation: fadeInDown;
  animation-duration: 1s;
}

@media only screen and (max-width: 1620px) {
  .navbar{
    padding: 0 4vw;
  }
}

.dropdown-content{
  display: flex;
  flex-direction: column;
}


.galleryphotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryphotos div {
  flex-basis: 45%;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}


.galleryphotos img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.galleryphotos div:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.navigation, .contact{
  font-family: CabinetGrotesk-Extrabold;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.cursor__circle {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

.cursor__circle svg circle {
  fill: white;
}

.marker {
  position: relative;
  margin: 0 16px;
  color: #333;
  text-decoration: none;
  line-height: 1em;
  & svg {
    position: absolute;
    left: 0;
    top: -50%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
  }
  & path {
    transition: stroke-dashoffset 300ms linear;
    stroke-width: 1.0;
    stroke: #231f21;
    fill: none;
    stroke-linecap: round;
  }
  &:hover path{
    stroke-dashoffset: 0;
  }
}




